doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        style
            include ../public/bootstrap/bootstrap.min.css
            include ../public/styles.css
        title Nuro Tasks

    body
    div(class="center-div")
        h1 Enter Nuro Task ID
        form
            div(class="form-group")
            input(id="input-task" onkeypress="findNuro(event)" type="text" style="width: 30%; margin: auto;" class="form" autocomplete="off")
            div(class="error-message")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script.
        const findNuro = e => {
            const userInput = document.querySelector('#input-task').value;
            if (e.keyCode === 13) {
                const apiURL = `/api/${userInput}`;
                e.preventDefault();
                $.ajax({
                    url     : apiURL,
                    success : result => {
                        document.querySelector('.error-message').innerHTML = '';
                        window.location.href = apiURL;
                    },
                    error : error => document.querySelector('.error-message').innerHTML = 'Task ID not available'
                });
            }
            userInput.value = '';
        }
