body {
    text-align: center;
}
.center-div
{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 3px;
    width: 50%;
    height: 50%;
}

.error-message {
    margin-top: 10px;
    color: red;
}
